version: "1.0.0"

services:
  service1:
    build: .
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOST=0.0.0.0
  service2:
    build: .
    ports:
      - 3001:3001
    environment:
      - NODE_ENV=production
      - PORT=3001
      - HOST=0.0.0.0
  service3:
    build: .
    ports:
      - 3002:3002
    environment:
      - NODE_ENV=production
      - PORT=3002
      - HOST=0.0.0.0
  nginx:
    image: nginx:1.25-alpine
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - service1
      - service2
      - service3
